* {
    margin: 0px;
    padding: 0px;
}
body {
    
background: linear-gradient(133deg, rgba(35,187,73,1) 28%, rgba(0,212,255,1) 100%);
}

#maincontent {
height: 90vh;
width: 95vw;
background-color: #e9e5de;
margin: 40px;
display: grid;
grid-template-columns: 2fr 4fr;

}

#projects {
    grid-column: 1 / 2;
    background-color: pink;
    margin: 1rem;
    display: grid;
    grid-template-rows: 7fr 1fr;
    justify-content: center;



}

#todos {
    grid-column: 2 / 3;
    background-color: grey;
    margin: 1rem;

}
#addProjectBtn {
    width: 6rem;
    height: 3rem;
    margin: 1rem;
    background-color: blue;
    color: white;
    font-size: large;
}
.projectbuttons { 
    width: 6rem;
    height: 3rem;
    margin: 1rem;
    grid-row: 1 / 2;
}