* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

#todolist {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectcontainer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tododiv {
  width: 80vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#projectdiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todo {
  display: flex;
  justify-content: space-around;
}
