* {
    margin: 0px;
    padding: 0px;
}
body {
    
background: linear-gradient(133deg, rgba(35,187,73,1) 28%, rgba(0,212,255,1) 100%);
}

#maincontent {
height: 90vh;
width: 95vw;
background-color: #e9e5de;
margin: 40px;
display: grid;
grid-template-columns: 2fr 4fr;

}

#projects {
    grid-column: 1 / 2;
    background-color: pink;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

#todos {
    background-color: grey;
    margin: 1rem;

}
#addProjectBtn {
    width: 6rem;
    height: 3rem;
    margin: 1rem;
    background-color: blue;
    color: white;
    font-size: large;
}
.projectbuttons { 
    flex-wrap: wrap;
    width: 6rem;
    height: 3rem;
    margin: 1rem;
}

#projectDialogCloseButton {
    height: 2rem;
    width: 2rem;
    background-color: blueviolet;
}

dialog #projectdialog {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 0rem;
    width: 30rem;
}

#projectform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

::backdrop {
    background-color: darkgrey;
    opacity: 70%;
}

#showprojectdiv {
    background-color: yellow;
    width: 10rem;
    height: 10rem;
}